:root{
--color-primary:rgb(72, 61, 139);
--color-secondary:rgb(0, 92, 74);
--color-accent:rgb(129, 47, 0);
--color-background:rgba(234, 252, 255, 0.6);
--border-radius:7px;
--opacity:.9;
}
::placeholder{
	color: #ccc;
	letter-spacing: 1px;
}
*, *::before, *::after{
	box-sizing: border-box;
}

/* Typography */
html{
	font-size:62.5%;
}
body{
	font-size: 1.6rem;
	font-family: "Open Sans", sans-serif;;
	line-height: 1.5;
}
h1, h2, h3{
	line-height: 1.1;
	font-weight: 400;
	margin: 0;
	color: var(--color-secondary);
}
h1{
	font-size: 4.76rem;
}
h2{
	font-size: 3.96rem;
}
h3{
	font-size:3.31rem;
}
P{
	margin:2rem 0 2.5rem;
	letter-spacing: 1px;
}
a{
	text-decoration: none;
}
button{
	outline: none;
	border: none;
}
input, textarea{
	outline: none;
	border: none;
}

/* link */
.link{
	display: block;
	text-transform: capitalize;
	color: var(--color-accent);
}
.link--bold{
	font-weight: 600;
}
.link:hover{
	opacity: var(--opacity);
}

/* button */
.btn{
	border-radius: var(--border-radius);
	cursor: pointer;
	display: block;
	font-size: 1.8rem;
	letter-spacing: 1px;
	line-height: inherit;	
	padding: 1.2rem;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}
.btn:hover{
	opacity: var(--opacity);
}
.btn--primary{
	background: var(--color-primary);
	color: #fff;
}

/* inputs */
.input{
	width: 100%;
	border: 1px solid #ccc;
	border-radius: var(--border-radius);
	padding: 1rem 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 1.6rem;
}

/* span */
.span{
	font-size: 1.5rem;
	letter-spacing: 1px;
}
.span--bold{
	font-weight: 600;
}

/* list */
.list{
	list-style: none;
	padding: 0;
}

/* img */
.img{
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	display: block;
}

/* block */
.block{
	padding: 1.5rem;
}
.block__heading{
	margin-bottom: 2.5rem;
}
.block--background{
	background: var(--color-background);
}

/* flex */
.flex{
	display: flex;
}
.flex--coloumn{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
/* grid */
.grid{
	display: grid;
}


.box{
	border: 1px solid red;
}
@media screen and (min-width:600px){
	.grid--info{
		grid-template-columns: 300px 1fr;
	}
}
@media screen and (min-width:768px) {
	.grid--info{
		grid-template-columns: 250px 1fr;
	}
	.grid--main{
		grid-template-columns: 1fr 300px;
	}
}
@media screen and (min-width:1024px) {
	body{
		font-size: 1.4rem;
	}
	h1{
		font-size: 3.76rem;
	}
	h2{
		font-size: 2.96rem;
	}
	h3{
		font-size:2.31rem;
	}
	.btn{
		font-size: 1.5rem;
	}
	.input{
		font-size: 1.4rem;
	}
	.grid--main{
		grid-template-columns: 1fr 400px;
	}
}