<div class="block block--background rate">
  <h3 class="block__heading">Rating Movies</h3>
  <ul class="list">
    <li class="rate__item flex flex--row">
      <a href="#" class="link rate__link">Dune: Part Two </a>
      <span class="span">8.80</span>
    </li>
    <li class="rate__item flex flex--row">
      <a href="#" class="link rate__link">Mad Max: Fury Road</a>
      <span class="span">8.10</span>
    </li>
    <li class="rate__item flex flex--row">
      <a href="#" class="link rate__link">Batman </a>
      <span class="span">7.80</span>
    </li>
    <li class="rate__item flex flex--row">
      <a href="#" class="link rate__link">Kung Fu Panda 4 </a>
      <span class="span">6.40</span>
    </li>
  </ul>
</div>
