<div class="block block--background login">
	<h3 class="block__heading">Log In</h3>
	<form action="#" method="post">
	  <input
		type="text"
		aria-label="login"
		placeholder="Login"
		class="input"
	  />
	  <input
		type="password"
		aria-label="password"
		placeholder="Password"
		class="input"
	  />
	</form>
	<a href="#" class="link link--bold login__link">forgot password</a>
	<button class="btn btn--primary login__btn">Log In</button>
	<a href="#" class="link link--bold login__link">create account</a>
  </div>