<div class="content">
	<img src="img/m-batman.jpg" alt="" class="img content__img" />
	<h2 class="content__heading">Batman</h2>
	<p class="content__text">
	  After two years of searching for justice on the streets of Gotham,
	  Batman becomes the personification of merciless retribution for the
	  townspeople. When the city suffers a series of brutal attacks on
	  high-ranking officials, clues lead Bruce Wayne into the darkest
	  corners of the underworld, where he meets Catwoman, the Penguin,
	  Carmine Falcone and the Riddler. Now Batman himself is under the gun,
	  having to distinguish friend from foe and restore justice in the name
	  of Gotham.
	</p>
	<a href="#" class="btn btn--primary content__btn">watch movie</a>
  </div>