<aside class="sidebar">
  <div class="block block--background search">
    <h3 class="block__heading">Search Films</h3>
    <div class="block__element">
      <form action="#" method="post">
        <input
          type="search"
          placeholder="Search your movie"
          class="input"
          aria-label="search"
        />
      </form>
      <button class="btn btn--primary">Search</button>
    </div>
  </div>

  <div class="block block--background login">
    <h3 class="block__heading">Log In</h3>
    <form action="#" method="post">
      <input type="text" aria-label="login" placeholder="Login" class="input" />
      <input
        type="password"
        aria-label="password"
        placeholder="Password"
        class="input"
      />
    </form>
    <a href="#" class="link link--bold login__link">forgot password</a>
    <button class="btn btn--primary login__btn">Log In</button>
    <a href="#" class="link link--bold login__link">create account</a>
  </div>

  <div class="block block--background new-film">
    <h3 class="block__heading">New Film</h3>
    <img src="img/n-kong.jpg" alt="" class="img new-film__img" />
    <a href="#" class="btn btn--primary new-film__btn">watch movie</a>
  </div>

  <div class="block block--background rate">
    <h3 class="block__heading">Rating Movies</h3>
    <ul class="list">
      <li class="rate__item flex flex--row">
        <a href="#" class="link rate__link">Dune: Part Two </a>
        <span class="span">8.80</span>
      </li>
      <li class="rate__item flex flex--row">
        <a href="#" class="link rate__link">Mad Max: Fury Road</a>
        <span class="span">8.10</span>
      </li>
      <li class="rate__item flex flex--row">
        <a href="#" class="link rate__link">Batman </a>
        <span class="span">7.80</span>
      </li>
      <li class="rate__item flex flex--row">
        <a href="#" class="link rate__link">Kung Fu Panda 4 </a>
        <span class="span">6.40</span>
      </li>
    </ul>
  </div>
</aside>
