<div class="block">
  <h2 class="block__heading">Top Rating</h2>
  <table class="table">
    <thead class="table__head">
      <tr>
        <th>N:</th>
        <th class="year">Year</th>
        <th>Name</th>
        <th class="director">Director</th>
        <th>IMDb</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr>
        <td>1</td>
        <td class="year">2024</td>
        <td class="name">
          <a href="#" class="link link--bold table__link">Dune: Part Two</a>
        </td>
        <td class="director">Denis Villeneuve</td>
        <td>8.80</td>
      </tr>
      <tr>
        <td>2</td>
        <td class="year">2019-....</td>
        <td class="name">
          <a href="#" class="link link--bold table__link">The Mandalorian</a>
        </td>
        <td class="director">Rick Famuyiwa</td>
        <td>8.70</td>
      </tr>
      <tr>
        <td>3</td>
        <td class="year">2014-2019</td>
        <td class="name">
          <a href="#" class="link link--bold table__link">Silicon Valley</a>
        </td>
        <td class="director">Mike Judge</td>
        <td>8.50</td>
      </tr>
      <tr>
        <td>4</td>
        <td class="year">2005-2014</td>
        <td class="name">
          <a href="#" class="link link--bold table__link"
            >How I Met your mother</a
          >
        </td>
        <td class="director">Pamela Fryman</td>
        <td>8.30</td>
      </tr>
      <tr>
        <td>5</td>
        <td class="year">2010-2021</td>
        <td class="name">
          <a href="" class="link link--bold table__link">The walking Dead</a>
        </td>
        <td class="director">Greg Nicotero</td>
        <td>8.10</td>
      </tr>
      <tr>
        <td>6</td>
        <td class="year">2015</td>
        <td class="name">
          <a href="#" class="link link--bold table__link"
            >Mad Max: Fury Road
          </a>
        </td>
        <td class="director">George Miller</td>
        <td>8.10</td>
      </tr>
      <tr>
        <td>7</td>
        <td class="year">2022</td>
        <td class="name">
          <a href="#" class="link link--bold table__link">Batman </a>
        </td>
        <td class="director">Matt Reeves</td>
        <td>7.80</td>
      </tr>
      <tr>
        <td>8</td>
        <td class="year">2024</td>
        <td class="name">
          <a href="#" class="link link--bold table__link">Kung Fu Panda 4 </a>
        </td>
        <td class="director">Mike Mitchell</td>
        <td>6.40</td>
      </tr>
    </tbody>
  </table>
</div>
